# fly.toml app configuration file generated for trailwaveseotest on 2025-09-10T11:12:59Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'trailwaveseo'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
